*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 26, 46);
    font-size: 1vw;
}
a{
    text-decoration: none;
}
