<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="stylesheet" href="../css/musica.css">

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alone</title>
</head>
<body>
    <div class="efeito"></div>
    <div class="infos">
        <img class="imgCima" src="../image/alone.jpg" >
        <h1>Alone</h1>
        <p>~Marshmello</p>
        <div class="botoes">
            <audio src="../audios/Marshmello - Alone (Official Music Video)(MP3_160K).mp3" autoplay controls></audio>
            <div class="texto">
                <a href="../Index.html">
                    <h1>HOME | </h1>
                </a>
                <a href="../views/SemHora.html">
                    <h1>NEXT ></h1>
                </a>
            </div>
        </div>
    </div>
    <div class="letra">
        <h2>LETRA</h2>
        <p>
            I'm so alone
Nothing feels like home
I'm so alone
Trying to find my way back home to you
I'm so alone
Nothing feels like home
I'm so alone
Trying to find my way back home to you
You-you-you-you, you-you-you-you
You-you-you-you, you-you-you-you
I'm so alone
Trying to find my way back home to you
I'm so alone
Nothing feels like home
I'm so alone
Trying to find my way back home to you
I'm so alone
Nothing feels like home
I'm so alone
Trying to find my way back home to you
You-you-you-you, you-you-you-you
You-you-you-you, you-you-you-you
I'm so alone
Trying to find my way back home to you
I'm so alone
Nothing feels like home
I'm so alone
Trying to find my way back home to you
I'm so alone
Nothing feels like home
I'm so alone
Trying to find my way back home to you
You-you-you-you, you-you-you-you
You-you-you-you, you-you-you-you
I'm so alone
Trying to find my way back home to you
I'm so alone
Nothing feels like home
I'm so alone
Trying to find my way back home to you
I'm so alone
Nothing feels like home
I'm so alone
Trying to find my way back home to you
You-you-you-you, you-you-you-you
You-you-you-you, you-you-you-you
I'm so alone
Trying to find my way back home to you.
        </p>
    </div>
    <img class="imgBaixo"src="../image/alone.jpg" >
    
</body>
</html>