<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="stylesheet" href="../css/musica.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AURA</title>
</head>
<body>
    <div class="efeito"></div>
    <div class="infos">
        <img class="imgCima" src="../image/aura.jpg" >
        <h1>AURA</h1>
        <p>~Ogryzek</p>
        <div class="botoes">
            <audio src="../audios/Ogryzek - AURA (Official Visualiser)(MP3_160K).mp3" autoplay controls></audio>
            <div class="texto">
                <a href="../Index.html">
                    <h1>HOME | </h1>
                </a>
                <a href="../views/Alone.html">
                    <h1>NEXT ></h1>
                </a>
            </div>
        </div>
    </div>
    <img class="imgBaixo"src="../image/aura.jpg" >
    
</body>
</html>