<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="stylesheet" href="../css/musica.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>it's going down now</title>
</head>
<body>
    <div class="efeito"></div>
    <div class="infos">
        <img class="imgCima" src="../image/ItsGoing.jpg" >
        <h1>It's going down now</h1>
        <p>~Azumi Takashi & Lotus Juice</p>
        <div class="botoes">
            <audio src="../audios/It_s Going Down Now(MP3_160K).mp3" autoplay controls></audio>
            <div class="texto">
                <a href="../Index.html">
                    <h1>HOME | </h1>
                </a>
                <a href="../views/Frog.html">
                    <h1>NEXT ></h1>
                </a>
            </div>
        </div>
    </div>
    <div class="letra">
        <h2>LETRA</h2>
        <p>It's those unintelligent monsters, ain't it?
What are they thinking? Please explain it
Don't really need this crap, can't waste time
What I possess can't copy and paste
I'm doing it better, never settling for another regular
Letter to my enemies, hey, I'm telling ya
Breaking you down to the level of molecular

Better be wise when you're choosing battles
It's mostly babbles
You know one of those big time shady foe foes
Ain't worth fighting for
Drop these bars in my sleep
And a few more tricks up my sleeve
It's way too late for you to leave now
(Get ready)

Disturbing the peace
Look into my eyes
Now tell me the things you know
Laughing about behind my back
The tenacity
I hold it's hard to break down
It's too late for apologies
It's going down now

You're thirsty for blood
Actually craving for love
What you only want is dub
Greed makes you go numb
Purposefully blocking good thoughts
Hey, please doctor, doctor
He's about to be patient
'Cause I'm about to knock him out cold
(Bring him back please)

Whole lotta moves I make on you like dance floor
And during this beat down
You prolly wish that you can fast forward (oh)
Don't you worry about it
I'll save some room for your last words
(Make sure of it)
After I do this, do that, and the third

Disturbing the peace
Look into my eyes
Now tell me the things
You're blabbing about behind my back
The tenacity
I hold it's hard to break down
It's too late for apologies
It's going

Some things may break me
But always get back up
New perspective gained
From all of the pain and stress
And when I do come back
I'm stronger than ever before
So kneel down

Disturbing the peace
Look into my eyes
Now tell me the things
You're blabbing about behind my back
The tenacity
I hold is hard to break down
It's too late for apologies
It's going down.</p>

    </div>
    <img class="imgBaixo"src="../image/ItsGoing.jpg" >
    
</body>
</html>