<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="stylesheet" href="../css/musica.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limitado</title>
</head>
<body>
    <div class="efeito"></div>
    <div class="infos">
        <img class="imgCima" src="../image/LimitadoNeskOnly.jpg" >
        <h1>Limitado</h1>
        <p>~Nesk Only & 2metroS</p>
        <div class="botoes">
            <audio src="../audios/Nesk Only _ 2metro - Limitado(MP3_160K).mp3" autoplay controls></audio>
            <div class="texto">
                <a href="../Index.html">
                    <h1>HOME </h1>
                </a>
                <a href="../views/ItsGoing.html">
                    <h1>NEXT ></h1>
                </a>
            </div>
        </div>   
    </div>
    <div class="letra">
        <h2>LETRA</h2>
        <p>
                Aê, oh, oh, oh (reze)
Acho que cê já sabe o que eu vou falar, né?
Depois que nós lançar essa
Todo mundo vai querer fazer gospel (Jesus)
Para meu mano de ser limitado (aham)
Para meu mano de ser previsível (oh God)
Para meu mano de ser racional (sir)
Deus realiza o que é impossível (sir)
Tipo uma arca lotada de bicho (aham)
Foi o que Deus foi pedir pra Noé (desse jeito)
Cê só recebe se sabe pedir
Então, tenta pedir mais um pouco de fé (Jesus)
Peço pra Deus mais um pouco de fé
Peço pra Deus pra ter sabedoria (você sabe)
Cê sabe bem que esse mundo é difícil (ahn)
Mas tá pior nesses últimos dias (sir)
Muitos sinais que tão se revelando (sir)
Cê sabe bem que Jesus tá voltando (sir)
Fica achando que eu tô de conversa
Quando vê tá tarde, cê acaba ficando (Jesus)
Depois não fala que eu não avisei
Depois não fala que ninguém falou (aham)
Perdi a conta do quanto eu chamei (certo)
Cê falou: Nada a ver, dessa vez, eu não vou (sir)
Depois não fala que eu não avisei (sir)
Depois não fala que ninguém falou (oh God)
Perdi a conta do quanto eu chamei
Cê falou: Nada a ver, dessa vez eu não vou (ahn)
Nem tô surpreso se já tava escrito (é)
Que Deus separa o joio do trigo (é verdade)
Tem quem escolhe tentar pela sorte
Tem quem escolhe tentar pelo risco (sir)
Nem tô surpreso se já tava escrito (sir)
Que Deus separa o joio do trigo (oh God)
Tem quem escolhe viver para morte
Tem quem escolhe morrer para Cristo
Para meu mano de ser limitado (aham)
Para meu mano de ser previsível (oh God)
Para meu mano de ser racional (sir)
Deus realiza o que é impossível (sir)
Tipo uma arca lotada de bicho (aham)
Foi o que Deus foi pedir pra Noé (desse jeito)
Cê só recebe se sabe pedir
Então, tenta pedir mais um pouco de fé (Jesus)
Para meu mano de ser limitado (aham)
Para meu mano de ser previsível (oh God)
Para meu mano de ser racional (sir)
Deus realiza o que é impossível (sir)
Tipo uma arca lotada de bicho (aham)
Foi o que Deus foi pedir pra Noé (desse jeito)
Cê só recebe se sabe pedir
Então, tenta pedir mais um pouco de... (Jesus)
Ah, mas eu tô com medo
Porque se eu entrar nesse caminho
Eu vou ter que mudar muita coisa
Tipo um estilo de roupa, sei lá (oh vaso)
Na minha vestimenta, eu não sei, é (vaso, oh vaso)
Vaso, vaso! Pelo amor de Deus, me escuta!
Eu não tô dizendo pra você parar
De andar no estilo ou cancelar o drip (oh, oh)
Mas é bem melhor andar com testemunho
Com vestimentas cravejadas de ide
Sendo lavadas ao sangue do cordeiro (aham)
Seguindo vigilante o tempo inteiro (exato)
Fica fácil, nego, não é segredo
Com Jesus cê sabe, não existe desespero
San-ti-da-de, presença e posicionamento
Ei vaso, aqui tão os três passinhos
Do que tu precisa nesse fim dos tempos (xi)
Ele tá voltando, o tempo é escasso
Cê tá ligado? Eu não vou repetir
Mas somos irmãos, eu quero te ver salvo
Vou só mais uma, só pra ver tu subir
Tá na hora de assumir tua posição (e ai?)
Se você é vaso de honra ou não
Que zona de conforto, meu irmão? (Yah)
O momento agora é de guerra (yah)
E joelho no chão (yah, yah)
Então faz o seguinte e levante sua mão
Aceite Jesus como tua salvação
É momento de ter decisão
Então, toma vergonha na cara e conserta, varão!
Para meu mano de ser limitado (aham)
Para meu mano de ser previsível (oh God)
Para meu mano de ser racional (sir)
Deus realiza o que é impossível (sir)
Tipo uma arca lotada de bicho (aham)
Foi o que Deus foi pedir pra Noé (desse jeito)
Cê só recebe se sabe pedir
Então, tenta pedir mais um pouco de fé
Reze
Jesus!
        </p>
    </div>
    <img class="imgBaixo"src="../image/LimitadoNeskOnly.jpg" >
</body>
</html>