<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="stylesheet" href="../css/musica.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MONTAGEM BAILÃO</title>
</head>
<body>
    <div class="efeito"></div>
    <div class="infos">
        <img class="imgCima" src="../image/MtgBailao.jpg" >
        <h1>MONTAGEM BAILÃO</h1>
        <p>~repsaj, ATLXS & MXZI</p>
        <div class="botoes">
            <audio src="../audios/MONTAGEM BAILÃO(MP3_160K).mp3" autoplay controls></audio>
            <div class="texto">
                <a href="../Index.html">
                    <h1>HOME | </h1>
                </a>
                <a href="../views/Reinado.html">
                    <h1>NEXT ></h1>
                </a>
            </div>
        </div>
    </div>
    <div class="letra">
        <h2>LETRA</h2>
        <p>
            Clima perfeito, noite enluarada
Faro afiado, os caçador vai à caça
Na captura delas, de bailão em bailão
Na captura delas, de bailão em...
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
Vai à caça
Na captura delas, de bailão em bai... (caça)
Na captura delas, de bailão em bai... (caça)
Na captura delas, de bailão em bailão
Na captura delas, de bailão em...
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
Os caçador vai à caça, na captura delas
De bailão, em bailão
Na captura delas, de bailão em...
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
No bailão, bailão-ão-ão
Clima perfeito, noite enluarada
Faro afiado, os caçador vai à caça
Na captura delas, de bailão em bailão
Na captura delas, de bailão em bailão
        </p>
    </div>
    <img class="imgBaixo"src="../image/MtgBailao.jpg" >
    
</body>
</html>