<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="stylesheet" href="../css/musica.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REINADO</title>
</head>
<body>
    <div class="efeito"></div>
    <div class="infos">
        <img class="imgCima" src="../image/REINADO.jpg" >
        <h1>REINADO</h1>
        <p>~Jmilton & CHASHKAKEFIRA</p>
        <div class="botoes">
            <audio src="../audios/Jmilton_ CHASHKAKEFIRA – Reinado(MP3_160K).mp3" autoplay controls></audio>
            <div class="texto">
                <a href="../Index.html">
                    <h1>HOME | </h1>
                </a>
                <a href="../views/Aura.html">
                    <h1>NEXT ></h1>
                </a>
            </div>
        </div>
    </div>
    <!-- Letra da musica-->
    <div class="letra">
        <h2>LETRA</h2>
        <p>
            Você vai ver quando eu passar de Mercedes
Lembrando quando andava só de busão (vai, DJ Jmilton)
Você vai ver que o dinheiro não mudou
Minha essência, minha alma, meu coração
Você vai ver, vadia
Você vai ver, vadia
Você vai ver, vai ver, vai ver do seu lado
Você vai ver, vadia
Você vai ver, vadia
Você vai ver, vai ver, vai vir no autógrafo
E quando eu estiver lá em cima
Você vai lembrar dessas palavra'
Que eu falei aqui embaixo
Quando ninguém acreditava
Você vai ver que eu sempre soube
Que o meu destino era maior
Que as quebrada' me ensinou
A ser um vencedor
Você vai ver, você vai ver
Como eu mudei, mas não mudei
Você vai ver, você vai ver
O que eu virei, o que é o futuro rei
Você vai ver, vadia
Você vai ver, vadia
Você vai ver, vai ver, vai ver do seu lado
Você vai ver, vadia
Você vai ver, vadia
Você vai ver, vai ver, vai vir no autógrafo
Você vai ver quando eu passar de Mercedes
Lembrando quando andava só de busão
Você vai ver que o dinheiro não mudou
Minha essência, minha alma, meu coração
        </p>
    </div>
<!-- fim letra -->

<!-- efeito -->
    <img class="imgBaixo"src="../image/REINADO.jpg" >
    
</body>
</html>