<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="stylesheet" href="../css/musica.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sem Hora</title>
</head>
<body>
    <div class="efeito"></div>
    <div class="infos">
        <img class="imgCima" src="../image/SemHoraLagun.jpg" >
        <h1>Sem Hora</h1>
        <p>~Lagum</p>
        <div class="botoes">
            <audio src="../audios/Sem Hora - LAGUM(MP3_160K).mp3" autoplay controls></audio>
            <div class="texto">
                <a href="../Index.html">
                    <h1>HOME | </h1>
                </a>
                <a href="../views/Limitado.html">
                    <h1>NEXT ></h1>
                </a>
            </div>
        </div>
    </div>
    <div class="letra">
        <h2>LETRA</h2>
        <p>
            Só acho que, eu não to pronto pra essa história de crescer
Lazer é meu trabalho e eu trabalho com prazer
Não sei, mas existe alguma coisa em mim que você não resiste
Já falei, já gritei, mas você sempre insiste
Não é hora de cobrar, não me vem com esse olhar
Que eu também não tô ligando pro que os outros vão pensar
Se pá, eu sou meio vagabundo
Se pá, não sincronizo com seu mundo
Então, eu deixo pra depois o que eu posso fazer agora
Tô bastante ocupado, cê sabe essas horas
Já tô indo embora
Tô saindo da cidade com você uma senhora, sem hora
Pra compromisso, hoje tem reunião mas não é no meu serviço
É com os amigos, é da zoeira
Tá todo mundo solto porque hoje é sexta-feira, zoeira
Só para na segunda-feira
Mas eu tô bem
Sou daqueles que preferem cem anos a mil
Do que mil anos a cem
Relaxado e não zen
Desapegado porque eu não sou de ninguém
Cê não ta vendo que eu tô sendo confundido?
Eu sou o mocinho e não o bandido
Então, eu deixo pra depois o que posso fazer agora
Tô bastante ocupado, cê sabe essas horas
Já tô indo embora
Tô saindo da cidade com você uma senhora, sem hora
Pra compromisso, hoje tem reunião mas não é no meu serviço
É com os amigos, é da zoeira
Tá todo mundo solto porque hoje é sexta-feira, zoeira
Só para na segunda-feira
E eu já tô indo embora
Tô saindo da cidade com você uma senhora, sem hora
Pra compromisso, hoje tem reunião mas não é no meu serviço
É com os amigos, é da zoeira
Tá todo mundo solto porque hoje é sexta-feira, zoeira
Só para na segunda-feira, zoeira
Não é mais brincadeira
Porque hoje é sexta-feira, zoeira
Só para na segunda-feira, zoeira
        </p>
    </div>
    <img class="imgBaixo"src="../image/SemHoraLagun.jpg" >
    
</body>
</html>